@using ResearchTaskLib;
@inject  CustomerDbContext ctx;
<span>@entry.PokemonName</span>
<span></span>
@foreach (var task in entry.ResearchTasks)
{
            <p>
            <ResearchTaskEntryComponent task="@task" />
            @ctx.Database;

            </p>

 
}
@code{

[Parameter]
    public PokedexEntry entry{get;set;}
}


