@using ResearchTaskLib;
@if(!isAchieved)
{
    <span>@goal.Achieved</span>
}
else
{
    <span style="color:red">@goal.Achieved</span>
   
}
@code{
[Parameter]

    public ResearchGoal goal{get;set;}
    
    [Parameter]
    public bool isAchieved{get;set;}
}


