@page "/counter"
@rendermode InteractiveServer
@inject CustomerDbContext context;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<EditForm  OnSubmit="submit" Model="@customer">

<InputNumber @bind-Value="customer.Id" hidden/>
<label>First Name</label>
<InputText @bind-Value="customer.FirstName"/>

<label>Last Name</label>
<InputText @bind-Value="customer.LastName"/>

<label>Date of Birth</label>
<InputDate @bind-Value="customer.BDay"/>
<button type="submit">Click</button>
<button @onclick="randomize">Randomize</button>

</EditForm>

@code {
    [SupplyParameterFromForm]
    private Customer customer{get;set;}=new Customer();

    private void click()
    {
        Console.WriteLine(customer.ToString());
    }

    protected  void submit()
    {
        Console.WriteLine(customer);
        context.Add(customer);
        context.SaveChanges();

    }
    protected void randomize()
    {
        this.customer=context.CreateRandom();
    }

 
}
