@page "/"
@using ResearchTaskLib

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach(var entry in ResearchData.researchTasks.Values)
{

        System.Console.WriteLine(entry.PokemonName);
        Console.WriteLine(entry.ResearchTasks.Count);
        
    <ResearchTaskHelper.Components.Components.PokedexEntryComponent entry="@entry" />
       <hr/>
}

