@page "/"
@using ResearchTaskLib

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<label>Search</label><input @bind="SearchTerm" />
<br />
<br />
@foreach (var entry in Entries)
{


    <ResearchTaskHelper.Components.Components.PokedexEntryComponent entry="@entry" />
    <hr />
}

@code {
    private string searchTerm;
    public string SearchTerm
    {
        get => searchTerm;
        set
        {
            searchTerm = value;
            var entries = ResearchData.researchTasks.Values;
            if (String.IsNullOrWhiteSpace(SearchTerm))
            {
                Entries = entries;
            }
            Entries = from x in entries where x.PokemonName.StartsWith(SearchTerm) select x;
        }
    }

    public IEnumerable<PokedexEntry> Entries { get; set; } = ResearchData.researchTasks.Values;

}
