@page "/"
@using ResearchTaskLib

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div style="position:sticky;top:60px;background-color:rgba(128,128,128,0.5)">
<label>Search</label><input @bind="SearchTerm" />
</div>
<br />
<br />
@foreach (var entry in Entries)
{

    @if(!string.IsNullOrEmpty(SearchTerm) && !entry.Name.StartsWith(SearchTerm) && ! entry.GermanName.StartsWith(SearchTerm))
    {
       
    }

    else if(entry.ResearchTasks.All((t)=>t.AmountDone>=t.Goals.Last()))
    {

    }
    else{
          <ResearchTaskHelper.Components.Components.PokedexEntryComponent entry="@entry" />
    <hr />
    }
  
}

@code {
    private string searchTerm;
    public string SearchTerm
    {
        get => searchTerm;
        set
        {
            searchTerm = value;
           
        }
    }

    public IEnumerable<PokedexEntry> Entries { get; set; } = ResearchData.Pokedex;

}
