<!DOCTYPE html> 
<html>

<body>



    <table>
        <thead>
            <th></th>
            <th>Trinidas</th>
            <th>Texware</th>
            <th>else42</th>
        </thead>
        <tbody>

            <!--Pro-->
            <tr>
                <td><strong>Pro</strong></td>
                <!--Trinidat Pro-->
                <td>
                    <ul>
                        <li>Interessante Programmiersprache (C#)</li>
                        <li>Breite Themenvielfalt</li>
                        <li>Geräte zur Verfügung gestellt</li>
                    </ul>
                </td>

                <!--Texware Pro-->
                <td>
                    <ul>
                        <li>Regional</li>
                        <li>kaum Pendeln, später Homeoffice</li>
                        <li>Hardware und Accessoires zur Verfügung gestellt</li>
                        <li>Bonus für erfolgreiche Geschäftsjahre (bislang immer der Fall)</li>
                        <li>Fitnessprogramm</li>
                        <li>Gehalt: 50 000€</li>
                        <lI>Distanz zu privaten Projekten. Ducrh ungewöhnliche Programmiersprache bei der Arbeit macht das Coden für privatee Projekte mit regulären Programmiersprachen mehr Spaß</lI>
                    </ul>
                </td>

                <!--Ele42 Pro-->
                <td>
                    <ul>
                        <li>Themendeckung mit Masterarbeit</li>
                        <li>Interessante Projekte</li>
                        <li>Interessante Programmiersprache (Typescript)</li>
                        <li>Gehalt: 50 000€</li>
                    </ul>
                </td>
            </tr>




            <!--Neutral-->
            <tr>
                <td><strong>Neutral</strong></td>
                <!--Trinidat Neutral-->
                <td>
                    <ul>
                        <li>50 Mitarbeiter</li>
                        <li>
                            Stellenazeige: 
                            <span>
                                

Du bist durch und durch ein Entwickler? Du musst nicht studiert haben, allerdings solltest du eine Leidenschaft für das Programmieren mitbringen und das Ziel haben, dich immer weiterzuentwickeln. Du kennst den Unterschied zwischen Integer und Double? Du hast das jetzt nicht gerade erst gegoogelt, oder?! Dann bist du bei unserem Unternehmen genau richtig.

Du bist offen und interessiert an neuen Technologien?
Über den Tellerrand hinauszuschauen ist deine Devise?!
Du liebst was du tust und bringst bereits einschlägige Erfahrungen mit?
Du möchtest Arbeit und Freizeit miteinander kombinieren und wünschst dir flexible Arbeitszeiten?
Du wünschst dir Platz für deine individuellen Bedürfnisse und möchtest dich frei entfalten können?
Moderne Technologien und das Arbeiten unter Gleichgesinnten motivieren dich?
Neben der Wertschätzung deiner Arbeit wünschst du dir eine faire Honorierung?

Dann haben wir genau den richtigen Job für dich!
Deine Aufgaben

Arbeite für ein inhabergeführtes Unternehmen, das seit mehr als 25 Jahren Individualsoftware für Unternehmen als Auftragsarbeit entwickelt.

Neben einem engagierten Team aus über 40 Entwicklern erwarten dich abwechslungsreiche und individuelle Projekte, bei denen deiner Kreativität keine Grenzen gesetzt sind! Dabei sind deine Aufgaben:

Programmierung von individueller Software
Agile Implementierung von Kundenanforderungen
Direkte Kommunikation mit Kunden

Dein Profil

Gute bis sehr gute Kenntnisse in C# oder Java, allerdings ist unsere Programmiersprache C#, somit solltest du hierfür offen sein
Erste Erfahrungen in den Bereichen HTML5, CSS3 & JavaScript
Wünschenswert wären Erfahrungen mit Technologien wie ASP.NET, MVC, Blazor & SQL
Eine freundliche und aufgeschlossene Persönlichkeit
Sehr gute Deutschkenntnisse sind erforderlich
Spaß bei der Arbeit und Interesse an neuen Herausforderungen


                            </span>
                        </li>
                      
                    </ul>
                </td>

                <!--Texware Neutral-->
                <td>
                    <ul>
                        <li>nur Thema Textilien, dafür aber das ganze ERP Spektrum</li>
                        <li>50 Mitarbeiter</li>
                        <li>Stellenazeige: <span>
                            Software-Entwickler / Programmierer (m/w/d)
                            
                            Die update texware GmbH entwickelt und vertreibt seit mehr als 4 Jahrzehnten ERP-Software für die Textil- und Bekleidungsindustrie sowie für den Textilhandel und ist damit führender Branchensoftware-Anbieter im deutschsprachigen Raum.
                            
                            Im Zuge unseres dynamischen Wachstums – auch international – suchen wir zur Verstärkung unseres Teams zum nächstmöglichen Zeitpunkt Software-Entwickler / Programmierer (m/w/d).
                            Ihr Profil
                            
                            Abgeschlossene Ausbildung zum/zur Fachinformatiker/-in für Anwendungsentwicklung oder Studium im Bereich Informatik bzw. Wirtschaftsinformatik
                            Erfahrung mit einer oder mehreren der folgenden Programmiersprachen und Entwicklertools: Progress ABL / .NET Framework / .NET Core / C# / Java Eclipse / Visual Studio
                            GIT
                            SQL / 4GL
                            Kunden- und Teamorientierung sowie sehr gute analytische Fähigkeiten
                            
                                Gute Deutsch- und Englischkenntnisse
                            
                            Ihre Aufgaben
                            
                            Verstärkung unseres Entwicklerteams (Full-Stack)
                            Konzeption und Realisierung von Neuanforderungen in abwechslungsreichen Kundenprojekten
                            
                                Beitragen zum erfolgreichen Projektverlauf innerhalb des Teams
                            
                            Es erwartet Sie
                            
                            Ein zukunftssicherer Arbeitsplatz in einem renommierten Softwareunternehmen
                            Eine abwechslungsreiche Tätigkeit in spannenden Projekten
                            Hybrider Arbeitsplatz (Office oder Homeoffice) mit flexibler Arbeitszeitgestaltung
                            Modernste Arbeitsgeräte
                            Eine attraktive Vergütung und 30 Tage Urlaub
                            Sehr gute soziale Leistungen und viele Benefits (z. B. betriebliche Altersvorsorge, Kitazuschuss u.v.m.)
                            Gezielt geförderte Weiterbildungen
                            Ein sehr gutes Betriebsklima innerhalb eines dynamischen Teams mit flachen Hierarchien, kurzen Entscheidungs- und Kommunikationswegen
                            Mitarbeiter-Events
                            Gute Verkehrsanbindung sowie ein Firmen-Parkplatz
                            Möglichkeit der Mitarbeiter-Beteiligung</span></li>
                    </ul>
                </td>

                 <!--Else42 Neutral-->

                <td>
                    <ul>
                       <li>Viel verantwortung da Startup</li>
                       <li>
                        Stellenanzeige: <span>


Du willst mit uns Softwaregeschichte schreiben?


Wir bieten Dir:

    Ein Jahresbruttogehalt ab 50.000 € (40-Stunden-Woche) – mit höherer Vergütung bei entsprechender Berufserfahrung in relevanten Technologien
    Arbeite wo Du willst – wir haben kein Büro (100% Remote)
    Arbeite wann Du willst – flexible Arbeitszeiten
    Überstunden sind bei uns die Ausnahme und werden durch Freizeitausgleich abgegolten
    Diese Position kann sowohl in Vollzeit als auch in Teilzeit besetzt werden
    Als Startup nehmen wir Dich und Deine Ideen ernst
    Agiles Team & modernes Toolset
    Nutze die Chance, von anderen Entwicklern zu lernen
    Bring your own device
    Wenn alles passt, können wir Dich in weniger als einer Woche einstellen


Das tust Du:

    Du bist Teil eines Entwickler-Teams, das an einer bahnbrechenden Anwendung arbeitet, die KI nutzt, um Testspezifikationen in normaler Sprache nahtlos in automatisierte Testskripte zu konvertieren
    Die Software heißt TestWeasel
    TestWeasel steht kurz vor dem Go-live der Version 1.0


Du bringst mit:

    Gute Kenntnisse in TypeScript und Begeisterung für modernes Software-Engineering
    Interesse, Dich in Electron, Node.js und die OpenAI-API einzuarbeiten
    Bereitschaft, eigenständig zu arbeiten
    Flexibilität, bei Bedarf auch an anderen Softwareprojekten mitzuwirken
    Zuverlässigkeit & Ehrlichkeit
    Sehr gute Deutschkenntnisse in Wort und Schrift (C1-Niveau oder muttersprachlich)


Deine else42

                        </span>
                       </li>
                    </ul>
                </td>


            </tr>
            <!--Contra-->
            <tr>
                <td><strong>Contra</strong></td>
                <!--Trinidat contra-->
                <td>
                    <ul>
                        <li>Pendeln nervig</li>
                        <li>Kleines Büro</li>
                        <li>Innenstadt</li>
                        <li>Gehalt stark von leistung abhängig, unter 50 000€</li>
                    </ul>
                </td>
                <!--Texware contra-->
                <td>
                    <ul>
                        <li>altmodische Programmiersprache ( Openedge abl), 
                            später nicht bei anderen Firmen mit Berufserfahrung in bekannten Programmiersprachen punkten</li>

                      
                    </ul>
                </td>



                <!--Else42 contra-->
                <td>
                    <ul>
                        <li>keine Firmenkultur</li>
                        <li>5 Mitarbeiter</li>
                        <li>kleines Startup, welches</li>
                        <li>kein Büro, kein persöhnliches Kennenlernen</li>
                        <li>Keine Geräte zur Verfügung gestellt</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>